* {
  	margin: 0;
		padding: 0;
		box-sizing: border-box;
    
	}

	/*body {
		padding: 500px  ; /*chage position menu*/
		padding-top:0px   ;
		padding-right:500px ;
		height: 376px ;
		width: 980px auto;
		position:fixed;

		font-family: "Helvetica Neue", helvetica, arial; 
		background: url('../img/url.png');
		background-repeat:no-repeat;
		//background: url('http://subtlepatterns.com/patterns/white_carbonfiber.png');
	}*/

	#container {
		position: relative;
		width: 940px;	
		
	}

	#container:after {
		content: "";
		display: block;
		clear: both;
		height: 0;
	}

	#menu {
		position: relative;
		float: left;
		width: 100%;
		padding: 0 20px;
		border-radius: 3px;
		box-shadow: inset 0 1px 1px rgba(255,255,255,.5), inset 0 -1px 0 rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.15);
		background: #ccc; 
	}

	#menu, #menu ul {
		list-style: none;
	}

	#menu > li {
		float: left;
		position: relative;
		border-right: 1px solid rgba(0,0,0,.1);
		box-shadow: 1px 0 0 rgba(255,255,255,.25);
		perspective: 1000px;
		
	}

	#menu > li:first-child {
		border-left: 1px solid rgba(255,255,255,.25);
		box-shadow: -1px 0 0 rgba(0,0,0,.1), 1px 0 0 rgba(255,255,255,.25);
	}

	#menu a {
		display: block;
		position: relative;
		z-index: 10;
		padding: 13px 20px 13px 20px;
		text-decoration: none;
		color: rgba(75,75,75,1);
		line-height: 1;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: -.05em;
		background: transparent;		
		text-shadow: 0 1px 1px rgba(255,255,255,.9);
		transition: all .25s ease-in-out;
	
	}

	#menu > li:hover > a {
		background: #333;
		color: rgba(0,223,252,1);
		text-shadow: none;
	}

	#menu li ul  {
		position: absolute;
		left: 0;
		z-index: 1;
		width: 200px;
		padding: 0;
		opacity: 0;
		visibility: hidden;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		background: transparent;
		overflow: hidden;
		transform-origin: 50% 0%;
	}


	#menu li:hover ul {
		
		padding: 15px 0;
		background: #333;
		opacity: 1;
		visibility: visible;
		box-shadow: 1px 1px 7px rgba(0,0,0,.5);
		animation-name: swingdown;
		animation-duration: 1s;
		animation-timing-function: ease;

	}

	@keyframes swingdown {
		0% {
			opacity: .99999;
			transform: rotateX(90deg);
		}

		30% {			
			transform: rotateX(-20deg) rotateY(5deg);
			animation-timing-function: ease-in-out;
		}

		65% {
			transform: rotateX(20deg) rotateY(-3deg);
			animation-timing-function: ease-in-out;
		}

		100% {
			transform: rotateX(0);
			animation-timing-function: ease-in-out;
		}
	}

	#menu li li a {
		padding-left: 15px;
		font-weight: 400;
		color: #ddd;
		text-shadow: none;
		border-top: dotted 1px transparent;
		border-bottom: dotted 1px transparent;
		transition: all .15s linear;
	}

	#menu li li a:hover {
		color: rgba(0,223,252,1);
		border-top: dotted 1px rgba(255,255,255,.15);
		border-bottom: dotted 1px rgba(255,255,255,.15);
		background: rgba(0,223,252,.02);
	}




<style>
 ::-webkit-scrollbar{width: 2px;}
 ::-webkit-scrollbar-track{background-color:#fff;}
 ::-webkit-scrollbar-thumb{background-color:#fff;}

body{
 font-family:"Open Sans", "Trebuchet MS", Helvetica, Arial, sans-serif;
 color: #fff;
 text-shadow: 1px 1px 5px #000;
 text-align: center;
 margin:0 auto;
 padding:4px;
 position: relative;
 background-color: #000033;
 background-image: -webkit-gradient(linear, 0 100%, 100% 0,
    color-stop(.25, rgba(255, 255, 255, .2)), 
    color-stop(.25, transparent),
    color-stop(.5, transparent), 
    color-stop(.5, rgba(255, 255, 255, .2)),
    color-stop(.75, rgba(255, 255, 255, .2)),
    color-stop(.75, transparent), to(transparent));
 background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
 background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
 background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
 background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
 background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
 -webkit-background-size: 36px 36px;
 -moz-background-size: 36px 36px;
 background-size: 36px 36px;
 background-position: fixed;}

a{text-decoration:none; color:#fff; outline: none; font-family:"Open Sans", "Trebuchet MS", Helvetica, Arial, sans-serif; text-shadow: 1px 1px 5px #000;}

/*insert attribute*/



@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

body {
  font-family:'Roboto', Helvetica, Arial, sans-serif;
  font-weight:300;
 
}
h3 {
  font-size: 1.3em;
  margin:0;
}
p{
  font-size:0.9em;
}

/* Hover Card 
.......................................................................*/
div.catCard {
    border: solid 5px #e9e9e9;
    background: #d8d8d8;
    width: 221px;
    height: 400px;
    display: block;
    position: relative;
    overflow: hidden;
}
div.lowerCatCard {
  position: absolute; 
  background: #e9e9e9;
  padding: 5px 5px; 
  height: 200px;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
  transition:         all 0.6s ease;
}
div.lowerCatCard:hover {
    opacity: 0.95;
    bottom: 0;
    height: 390px;
}
div.catCard  div.lowerCatCard { 
    left: 0; 
    bottom: -3%;
    width: 215px;
}
div.catCard:hover div.lowerCatCard { 
    bottom: 0;
}
li.catCardList {
    width:225px;
    display: inline-block;
    margin-right: 19px;
    margin-top: 25px;
}
li.catCardList-last {
    margin-right: 0;
    width:225px;
    display: inline-block;
}
ul.catCardList {
    margin: 0;
}
#catCardButton {
    position: absolute;
    width: 190px;
    bottom: 5px;
    -webkit-transition: all 0.6s ease;
    -moz-transition:    all 0.6s ease;
    -o-transition:      all 0.6s ease;
}
div.lowerCatCard:hover #catCardButton {
    bottom: 5px;
}
.startingPrice span {
    font-size: 16px;
    color: #c90c12;
    font-weight: 300;
}
div.startingPrice {
    margin-bottom: 5px;
    color: #000;
    font-weight: 300;
}
.catCard img {
    border: 1px solid #dddddd;
    width: 219px;
    height: 198px;
}
.catCard img:hover {
    border: 1px solid #bababa;
}

/* Button 
.......................................................................*/
.button {
    cursor: pointer;
    font-size: 14px !important;
    color: #ffffff;
    padding: 7px 10px !important;
    text-decoration: none !important;
    text-transform: uppercase !important;
    letter-spacing: 0 !important;
    background: #000;
    border: none;
    border-bottom: solid 1px #c90c12;
    text-align: center;
    margin-top: 10px;
}
.button:hover {
    background-color: #c90c12;
    border: none;
    border-bottom: solid 1px #000;
    box-shadow: 0 2px 3px #a8a8a8;
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    -ms-transform: scale(1.04);
}
.button:active {
    background: #000;
}
.button a {
    color: #ffffff;
    padding: 7px 30px !important;
    text-decoration: none;
}
.button a:hover {
    color: #ffffff;
}
.button:hover {
	color: #fff;
}